<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attendance"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/attendance"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dbms"
            android:label="@string/title_activity_dbms" >
        </activity>
        <activity
            android:name=".Toc"
            android:label="@string/title_activity_toc" >
        </activity>
        <activity
            android:name=".Dcwn"
            android:label="@string/title_activity_dcwn" >
        </activity>
        <activity
            android:name=".Cfca"
            android:label="@string/title_activity_cfca" >
        </activity>
        <activity
            android:name=".Osd"
            android:label="@string/title_activity_osd" >
        </activity>
    </application>

</manifest>
